

.login-option {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
}

.login-option button {
    width: 80%;
    margin-right:0px !important; 
}

.hello {

    display: block;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    border-top: 3px solid #4b947b;
}

.hello span {
    font-size: 10rem;
}