
<div class="container">
    <section class="section ">
  
      <div class="buttons login-option">
        <a routerLink="/auth"><button class="button is-primary is-light is-large"><span class="material-symbols-outlined">login</span> Auth</button></a>
        <a routerLink="/reg"><button class="button is-primary is-light is-large"> <span class="material-symbols-outlined">how_to_reg</span>Registration</button></a>
        <div class="hello">
          <h2 class="title">Please login or registr</h2>
          <br>
          <span class="material-symbols-outlined">
            waving_hand
            </span>
        </div>
      </div>
      
    </section>
  </div>