

.login-option {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
}

.login-option button {
    margin-right:0px !important; 
}





a, button {
    width: 100%;
}