
      <div class="columns permissions">
        <div class="column" ><button class="button is-light is-warning is-middle"(click)="testNotification()">Send test Notification</button></div>
        <div class="column" ><button class="button is-light is-warning is-middle"(click)="authService.logOut()">LogOut</button></div>
      </div>
              
        <div *ngIf="currentUser; else loading">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{currentUser.name}}</strong> <small> {{currentUser.email}}</small> 
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                  </p>

                </div>
              </div>
            </article>
            <hr>
            <h2 class="title" style="text-align: center;">User data</h2>
            <table class="table">
              <thead>
                <tr>
                  <th><abbr title="Position">Data</abbr></th>
                  <th>Value</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th>Name</th>
                  <td>{{currentUser.name}}</td>
                </tr>            
                <tr>
                  <th>Email</th>
                  <td>{{currentUser.email}}</td>
                </tr>            
                <tr>
                  <th>Status</th>
                  <td>{{currentUser.status}}</td>
                </tr>            
                <tr>
                  <th>Phone</th>
                  <td>{{currentUser.phone}}</td>
                </tr>            
                <tr>
                  <th>Counts Of completed Tasks</th>
                  <td>{{currentUser.countsOfTasks || "No completed tasks for now"}}</td>
                </tr>            
                <tr>
                  <th>Notification status</th>
                  <td><span class="material-symbols-outlined" style="color: green;" *ngIf="currentUser.sub; else warningNotification" >task_alt</span>
                  </td>
                </tr>            
                <tr>
                  <th>Position traking status</th>
                  <td><span class="material-symbols-outlined" style="color: green;" *ngIf="currentUser.pos; else warningPosition" >task_alt</span></td>
                </tr> 
                <tr>
                  <th>Current position</th>
                  <td>{{currentUser.pos | json}}</td>
                </tr>            
           
              </tbody>
            </table>

          </div>   
        </div>


<ng-template #loading>
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</ng-template>

<ng-template #warningNotification>
  <span class="material-symbols-outlined" style="color: red;">warning</span>
  <button class="button is-light is-warning is-middle allow"(click)="allowNotification()">Allow Notification</button>                   
</ng-template>
<ng-template #warningPosition>
  <span class="material-symbols-outlined" style="color: red;">warning</span>
  <button class="button is-light is-warning is-middle allow" >Allow Notification</button>                   
</ng-template>
