.main-nav {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    margin-bottom: 0px !important;
  }
  .main-nav li{
    width: 100%;
    font-size: 2rem;
    
  }
  .main-nav a{
    color: #b9b3b3;    
  }

