<div class="container">

  <section class="section" >

    <router-outlet></router-outlet>


<div class="tabs is-toggle main-nav">
  <ul>
    <li class="has-background-info-dark">
      <a routerLink="/tasks">
        <span class="material-symbols-outlined">
          format_list_bulleted
          </span>
      </a>
    </li>
    <li class="has-background-info-dark">
      <a routerLink="/">
        <span class="material-symbols-outlined">
          person
          </span>
      </a>
    </li>

  </ul>
</div>

</section>
</div>



